*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: black;
}

.data {
  overflow-y: auto;
}
.data::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
.data::-webkit-scrollbar,
.data::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.data::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.data:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}